<footer>
  <div class="footer-wrap">
    <div class="area">
      <div class="family-site none">
        <div class="family-title">family site</div>
        <div class="family-link">
          <a href="https://www.kibbutzprogramcenter.net/" target="__blank">Kibbutz Program Center <i
              class="fa-solid fa-up-right-from-square"></i></a>
        </div>
      </div>
      <div class="flex-row">
        <div class="footer-info">
          <address class="footer-info__address">
            <dl class="adress-item">
              <dt class="title">Address</dt>
              <dd class="text">서울시 마포구 연희로 11, 5층 539호</dd>
            </dl>
            <dl class="adress-item">
              <dt class="title">Tel</dt>
              <dd class="text">010-9548-9923</dd>
            </dl>
            <dl class="adress-item">
              <dt class="title">Fax</dt>
              <dd class="text">02-548-9923</dd>
            </dl>
            <dl class="adress-item">
              <dt class="title">Email</dt>
              <dd class="text">kpckr@yahoo.co.kr</dd>
            </dl>
          </address>
          <div class="sns none">
            <i class="fa-brands fa-youtube fa-lg"></i>
            <i class="fa-brands fa-instagram fa-lg"></i>
            <i class="fa-brands fa-facebook fa-lg"></i>
          </div>
          <div class="footer-rule">
            <a href="" class="footer-rule__cookie">쿠키정책</a>
            <a href="">개인정보처리방침</a>
          </div>
          <div class="footer-reserve">
            <span>COPYRIGHT(C) KIBBUTZ KOREA LTD. ALL RIGHTS RESERVED</span>
          </div>
        </div>
        <div class="footer-family block">
          <div class="family-wrap">
            <div class="family-site">
              <div class="family-title">family site</div>
              <div class="family-link">
                <a href="https://www.kibbutzprogramcenter.net/" target="__blank">Kibbutz Program Center <i
                    class="fa-solid fa-up-right-from-square"></i></a>
              </div>
            </div>
            <div class="sns">
              <i class="fa-brands fa-youtube fa-2x"></i>
              <i class="fa-brands fa-instagram fa-2x"></i>
              <i class="fa-brands fa-facebook fa-2x"></i>
            </div>
          </div>
        </div>
        <div class="footer-nav block">
          <div class="footer-ul">
            <li class="footer-menu__list"><a href="">
                <p>키부츠자원봉사</p>
              </a></li>
            <li class="footer-menu__list"><a href="">
                <p>교육연수</p>
              </a></li>
            <li class="footer-menu__list"><a href="">
                <p>여행서비스</p>
              </a></li>
            <li class="footer-menu__list"><a href="">
                <p>고객센터</p>
              </a></li>
            <li class="footer-menu__list"><a href="">
                <p>키부츠코리아</p>
              </a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>