<!-- header연동 -->
<header>
  <div class="header-inner">
    <h1 class="logo">
      <a href="/" class="logo-img"></a>
    </h1>
    <nav class="pc-nav">
      <div class="pc-nav__bg"></div>
      <ul class="nav-list__wrap">
        <li class="nav-list">
          <a href="">
            <p>키부츠자원봉사</p>
          </a>
          <ul class="sub-nav__wrap">
            <div class="sub-nav__inner">
              <li class="sub-nav__list">
                <a href="/past">
                  <p class="text">키부츠 유래와 현황</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">수속과정</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">자원봉사 개요</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">신청하기</p>
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-list">
          <a href="">
            <p>교육연수</p>
          </a>
        </li>
        <li class="nav-list">
          <a href="">
            <p>여행서비스</p>
          </a>
          <ul class="sub-nav__wrap">
            <div class="sub-nav__inner">
              <li class="sub-nav__list">
                <a href="/tourThumnail">
                  <p class="text">해외여행</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">유레일패스</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">해외보험</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">여권/비자신청</p>
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-list">
          <a href="">
            <p>고객센터</p>
          </a>
          <ul class="sub-nav__wrap">
            <div class="sub-nav__inner">
              <li class="sub-nav__list">
                <a href="/inform">
                  <p class="text">뉴스&공지사항</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">개인정보보호정책</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">협력/제휴문의</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">Q&A</p>
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-list">
          <a href="">
            <p>키부츠코리아</p>
          </a>
          <ul class="sub-nav__wrap">
            <div class="sub-nav__inner">
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">소개</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">전세계 키부츠대표부</p>
                </a>
              </li>
              <li class="sub-nav__list">
                <a href="">
                  <p class="text">찾아오시는 길</p>
                </a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <div class="language-wrap">
        <div class="login-btn"><a href="/login">LOGIN</a></div>
        <div class="language-text">KOR</div>
        <div class="language-globe"><i class="fa-solid fa-globe fa-lg"></i></div>
        <div class="language-down"><i class="fa-solid fa-chevron-down"></i></div>
        <div class="nav-menu res-menu"><i style="cursor: pointer" onclick="openNav()" class="fa-solid fa-bars fa-lg"></i></div>
        <div class="language-box"></div>
      </div>
    </div>
  </div>
</header>
