<form action="/fix" method="post">
  <input type="hidden" name="setId" value="<%= row.id %>" />
  <div class="write-wrap">
    <h1 class="title font-600">게시글 수정</h1>
    <div class="write-contents__wrap">
      <div class="board-write">
        <div class="write-title">
          <textarea name="title" id="summernote" class="board-write__textarea" placeholder="제목을 입력해 주세요."><%= row.title %> </textarea>
          <input type="text" placeholder="작성자" name="author" value="<%= row.author %> " />
          <!-- <input type="text" placeholder="날짜 ex) 2022-11-23" /> -->
        </div>
        <div class="cont">
          <textarea name="content" placeholder="내용 입력">
            <%= row.content %> 
        </textarea
          >
        </div>
      </div>
      <div class="bt-wrap">
        <input type="submit" value="수정" />
        <a href="/inform">취소</a>
      </div>
    </div>
  </div>
</form>
