<div class="write-wrap">
  <h1 class="title font-600">게시글 작성</h1>
  <div class="write-contents__wrap">
    <div class="board-write">
      <div class="write-title">
        <textarea name="titleName" id="summernote" class="board-write__textarea" placeholder="제목을 입력해 주세요.">

        </textarea>
      </div>
      <div class="cont">
        <textarea name="contentInput" placeholder="내용 입력">

        </textarea>
      </div>
    </div>
    <div class="bt-wrap">
      <a href="/inform">작성</a>
      <a href="/inform">취소</a>
      <a href="/inform">삭제</a>
    </div>
  </div>
</div>