<div class="login-wrapper">
  <h2>로그인</h2>
  <form method="post" action="/loginS" id="login-form">
    <input type="text" name="userId" placeholder="ID" />
    <input type="password" name="userPw" placeholder="Password" />
    <div class="join-box">
      <label for="remember-check"> <input type="checkbox" id="remember-check" />아이디 저장하기 </label>
      <div class="search-info">아이디 ∙ 비밀번호 찾기</div>
      <div class="join-us"><a href="/join">회원가입</a></div>
    </div>
    <input type="submit" value="Login" />
  </form>
</div>
