<section class="past-section1">
  <div class="padding-wrap">
    <div class="area">
      <div class="text-wrap">
        <h2 class="title font-600">
          키부츠 유래와 현황
        </h2>
        <p class="desc">
          유구한 역사를 자랑하는 이스라엘. 하지만 그들의 역사를 살펴보면 시련과 고난의 연속이었다.
        </p>
      </div>
    </div>
    <article class="contents-box">
      <ul class="contents-box__ul">
        <li class="contents-box__li" data-aos="fade-up" data-aos-offset="800">
          <div class="img-wrap">
            <div class="pastImg1 past-img"></div>
          </div>
        </li>
        <li class="contents-box__li2" data-aos="fade-up" data-aos-duration="500">
          <div class="list-wrap">
            <div class="text-wrap">
              <div class="category">새로운 시작</div>
              <h2 class="title font-600">최초의 키부츠 탄생</h2>
              <p class="desc">
                19세기 말과 20세기 초에 걸쳐 지금의 이스라엘 땅에 유태인들이 "유태인의 국가 재건"을 위해 유럽과 러시아 등지에서 이주해 들어오기 시작했다.
                이들 개척자들은 수세기 동안 버려진 척박한 땅을 개간하여 새로운 정착지를 세우고 농업 경제의 기반을 다졌다. 이러한 과정에서 생겨난 공동체가 바로 "키부츠(KIBBUTZ)" 다.
                이렇게 해서 태어난 최초의 키부츠가 1910년에 갈릴리 호수 남쪽에 세워진 "키부츠 드가니아" 이다. 그로부터 많은 키부츠들이 생겨나 현재까지 이스라엘 전역에는 약 200여개의 키부츠가
                여러 지역에 분포해 있다.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="contents-box__ul">
        <li class="contents-box__li" data-aos="fade-up" data-aos-offset="800">
          <div class="img-wrap">
            <div class="pastImg2 past-img"></div>
          </div>
        </li>
        <li class="contents-box__li2">
          <div class="list-wrap">
            <div class="text-wrap">
              <div class="category">공동체생활</div>
              <h2 class="title font-600">
                사유재산을 인정하지 않는
                <br class="none-br">
                평등한 공동체
              </h2>
              <p class="desc">
                빈부의 차이가 없고 철저히 민주적으로 운영되는 평등한 사회, 이것이 키부츠가 추구하는 이상향, 유토피아다. 키부츠에서는 개인의 사유재산을 인정하지 않는다.
                키부츠 내의 모든 재산은 공동소유이다. 따라서 공동으로 생산하고 판매하며 소유하는 경제형태를 이룬다. 사유재산이 인정되지 않는 대신 키부츠에 소속된 모든 주민들은
                의식주, 자녀교육, 의료혜택, 생필품 등 삶에 필요한 거의 대부분을 키부츠로부터 제공받는다. 키부츠 내의 내부조직은 주민이 직접 참여하는 민주적인 체제로 구성되어 있다.
                주요한 사안은 주민 총회에 의해 결정되며 총회의 회장을 비롯하여 키부츠의 살림살이를 맡는 각종 위원회의 위원들은 주민들에 의해 선출된다.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="contents-box__ul">
        <li class="contents-box__li" data-aos="fade-up" data-aos-offset="800">
          <div class="img-wrap">
            <div class="pastImg3 past-img"></div>
          </div>
        </li>
        <li class="contents-box__li2">
          <div class="list-wrap">
            <div class="text-wrap">
              <div class="category">바뀌는 현대 키부츠</div>
              <h2 class="title font-600">
                키부츠의 주요 산업
              </h2>
              <p class="desc">
                키부츠의 주요 산업으로는 농업을 들 수 있다. 그러나 차차 공업화되고 현대화되는 시대의 흐름에 따라 키부츠의 주된 산업형태도 변모하여 이제는 농업뿐만 아니라 공업을 중심으로 운영되는
                키부츠도 있고, 관광객을 대상으로 한 식당이나 게스트 하우스, 호텔 등 서비스업을 주된 산업으로 운영하는 키부츠들도 있다.
                공업을 중심으로 하는 키부츠에서는 식품이나 유제품 가공, 직물이나 가죽 등의 가공염색, 기계나 전기부품 생산, 장난감이나 가구제조, 다이아몬드 세공 등 각기 특성에 맞는 공업을 개발하여
                소득을 올리고 있다.
                관광지 주변지역 있는 키부츠에서는 게스트 하우스나 호텔 등을 지어 운영하고 있다.
                <span class="block"> 성경의 땅 이스라엘, 그 곳에는 기독교, 유대교, 이슬람교의 성지들과 고고학 발굴지로 가득하고, 서쪽으론
                  푸르름과 낭만으로 넘실대는 지중해변이 줄지어 있다. 북쪽 갈릴리 호수로부터 신비의 바다 사해를 거쳐 남쪽 에일랏으로 이어지는 천혜의 휴양지에는 연중 관광객의 발길이 끊이지 않고
                  있다.</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="contents-box__ul">
        <li class="contents-box__li" data-aos="fade-up" data-aos-offset="800">
          <div class="img-wrap">
            <div class="pastImg4 past-img"></div>
          </div>
        </li>
        <li class="contents-box__li2">
          <div class="list-wrap">
            <div class="text-wrap">
              <div class="category">생활환경</div>
              <h2 class="title font-600">
                키부츠의 규모와 시설
              </h2>
              <p class="desc">
                키부츠가 어떤 모습일까 상상이 되질 않는 사람은 먼저 우리의 농촌 마을을 떠올려 보라. 그리고 그 안에 살고 있는 주민들이 외부의 큰 도움 없이도 자급자족할 수 있는 농토와 그 밖의
                여러가지 시설들을 그려 넣어라. 그렇게 해서 만들어진 모습, 그것이 바로 키부츠와 흡사한 모습이다. 현재 이스라엘에는 약 200여개의 키부츠가 있는데 규모나 시설은 키부츠마다 각기
                다르다.
                한 키부츠 당 평균적인 주민의 수는 300-600명 정도이고 이보다 크거나 작은 키부츠들도 있다. 그리고 재정적인 면에서도 수익이 높은 사업을 잘 운영하여 경제적으로 넉넉한 키부츠가
                있는가 하면 그렇지 못한 키부츠도 있다.
                키부츠 안에는 공동체가 거주하는데 필요한 기본적인 것들은 다 갖추고 있다. <span class="block"> 예를 들어 집, 공동식당, 세탁소, 유치원, 학교, 병원, 상점, 수영장,
                  스포츠 시설, 이발소, 목공소,
                  우체국, 도서관, 동물원, 식물원 등 그 밖에 키부츠의 특성에 따라 농장, 목장, 양계장, 양어장, 공장, 호텔 등을 주된 산업으로 운영하고 있다.</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="contents-box__ul">
        <li class="contents-box__li" data-aos="fade-up" data-aos-offset="800">
          <div class="img-wrap">
            <div class="pastImg5 past-img"></div>
          </div>
        </li>
        <li class="contents-box__li2">
          <div class="list-wrap">
            <div class="text-wrap">
              <div class="category">키부츠의 하루</div>
              <h2 class="title font-600">
                키부츠 구성원들의
                <br class="none-br">
                근로생활
              </h2>
              <p class="desc">
                주민들은 키부츠 내의 자신이 맡은 일터에서 하루 8시간 정도 일을 한다. 그리고 안식일인 금요일 오후와 토요일은 쉰다. 우리와 다르게 이스라엘은 일요일부터 목요일까지가 평일이고 주말은
                금요일과 토요일이 된다.
                여자들도 집안 살림만 하는 것이 아니라 남자들처럼 일을 한다. 그것이 가능한 것은 식사는 주로 공동식당에서 하게 되고 세탁물은 세탁소에 맡기면 무료로 해 주기 때문이다. 또한 아이가 있는
                경우에도 탁아소나 유치원에서 돌봐 줌으로 해서 여성들은 가사노동에 그다지 신경을 쓸 일이 없기 때문이다.
                노인들 또한 노동에서 제외되지 않는다. 각자 능력에 맞는 손쉬운 일들을 찾아서 공동체의 일원으로서 생활하고 있다.
                <span class="block"> 전문직에 종사하는 주민의 경우는 키부츠가 아닌 외부의 직장을 구해 다닐 수도 있다. 그 경우 얻어지는 수입은 키부츠에 귀속된다.
                  키부츠 자체적으로 필요한 전문 인력을 조달할 수 없는 경우에는 외부에서 전문인을 고용하기도 한다. 예를 들면 의사나 회계사 등을 들 수 있다.</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="contents-box__ul">
        <li class="contents-box__li" data-aos="fade-up" data-aos-offset="800">
          <div class="img-wrap">
            <div class="pastImg6 past-img"></div>
          </div>
        </li>
        <li class="contents-box__li2">
          <div class="list-wrap">
            <div class="text-wrap">
              <div class="category">모두다 이웃</div>
              <h2 class="title font-600">
                키부츠의 가족형태
              </h2>
              <p class="desc">
                키부츠에서는 할머니, 할아버지에서부터 손녀,손자에 이르기까지 3대 이상이 키부츠의 한 울타리 안에서 함께 산다. 한 집에서 같이 살기보다는 서로 이웃해서 살고 있다.
                비록 노인이라 하더라도 공동체의 일원으로서 근로활동에 참여하게 되는 데 개개인별로 건강이 허락하는 범위 내에서 손쉬운 일을 하게 된다. 대부분의 나라에서 갈수록 고령인구는 많아지고
                가족형태는 핵가족화 되어 소일거리 없이 가족과 떨어져 외롭고 쓸쓸하게 지내는 노인들이 점점 늘어만 가는데 이런 현실을 놓고 볼 때 키부츠는 노인들의 천국에 가깝다.
                근래에 들어서는 저녁식사를 키부츠 내의 공동식당에서 먹지 않고 집에서 가족과 함께 식사를 하는 경향이 늘고 있다. 공동체 중심의 생활형태에서 점차적으로 가족관계를 중시하는 성향이 일고
                있음을 보여 준다.
                <span class="block">한 키부츠 공동체의 구성원들끼리는 서로를 확대된 대가족의 일원으로 생각한다. 그래서 아이들 양육이나 교육에 있어서도 부모의 책임으로만 돌리지 않고
                  키부츠 구성원 공동의 책임이라고 여기고
                  키부츠 공동체 차원에서 세심한 주의를 기울인다.</span>
            </div>
            </p>
          </div>
  </div>
  </li>
  </ul>
  </article>