<!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" /> -->

<div class="tour-wrap">
  <form action="/tourWrite" method="post" enctype="multipart/form-data">
    <div>
      <input type="file" name="productImg" />
    </div>
    <div>
      <input type="text" name="productName" placeholder="상품 이름 입력" />
    </div>
    <div>
      <input type="text" name="productPrice" placeholder="상품 가격 입력" />
    </div>
    <div>
      <input type="text" name="productDetail" placeholder="상품 요약설명 입력" />
    </div>
    <div>
      <input type="submit" value="저장" />
    </div>
  </form>
</div>
