.inform-content .padding-wrap {
  width: 1000px;
  margin: 0 auto;
  padding: 300px 0;
}

.inform-content .title {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 0;
  padding: 50px 0;
}

.restart-title {
  font-size: 30px;
  padding: 20px 15px;
  border-bottom: 1px dotted gray;
}

.inform-restart__info {
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
}

.inform-restart__info span:first-child {
  margin-right: 7px;
}

.inform-restart__info span:last-child {
  opacity: 0.6;
}

.inform-restart__left {
  width: 50%;
  padding: 20px 15px;
}

.inform-restart__right {
  width: 50%;
  padding: 20px 15px;
}

.inform-restart__content {
  padding: 50px 15px;
  border-bottom: 1px solid black;
}
