.inform-wrap {
  padding: 200px 0;
}

.inform-head {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 2px solid #222;
  border-bottom: 1px solid #ddd;
  height: 91px;
}

.inform-head__list {
  text-align: center;
  color: #222222;
  font-size: 18px;
}

.inform-body {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  height: 101px;
  text-align: center;
}

.inform-body a {
  display: block;
  display: flex;
  width: 100%;
}

.inform-body__list:nth-child(2) {
  text-align: left;
}

.w10 {
  width: 10%;
}

.w55 {
  width: 55%;
}

.w15 {
  width: 15%;
}

.inform-list .inform-number {
  text-align: center;
  margin-bottom: 10px;
}

.inform-list .inform-number a {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 7px;
}

.inform-list .inform-number a:first-child {
  background-color: #1c4d9a;
  color: #fff;
}

.inform-list .bt-wrap {
  width: 50%;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 768px) {
}
