.login-wrapper {
  width: 400px;
  height: 350px;
  padding: 300px 60px;
  /* box-sizing: border-box; */
  margin: 0 auto;
}

.login-wrapper > h2 {
  font-size: 40px;
  color: #1c4d9a;
  margin: 20px 0;
  text-align: center;
}

.join-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-info {
  background-color: #1c4d9a;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.join-us {
  background-color: #1c4d9a;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

#login-form > input {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
}
#login-form > input::placeholder {
  color: #d2d2d2;
}
#login-form > input[type='submit'] {
  color: #fff;
  font-size: 16px;
  background-color: #1c4d9a;
  margin-top: 20px;
}

#login-form > input[type='checkbox'] {
  display: none;
}
#login-form > label {
  color: #999999;
}
#login-form input[type='checkbox'] + label {
  cursor: pointer;
  padding-left: 26px;
  background-image: url('checkbox.png');
  background-repeat: no-repeat;
  background-size: contain;
}
#login-form input[type='checkbox']:checked + label {
  background-image: url('checkbox-active.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 500px) {
  .login-wrapper {
    width: 300px;
    padding: 150px 0px;
    margin: 0 auto;
  }

  .search-info {
    font-size: 11px;
    padding: 5px;
  }

  .join-us {
    font-size: 11px;
    padding: 5px;
  }
}
